body, html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
body{
  background-color: #e8b923;
}

.main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  color: white;
}

.description{
  background-color: white;
  opacity: 50%;
  color: black;
  height: 8%;
  width: 37%;
  margin-top: 2rem;
  filter: drop-shadow(.35rem .35rem 0.35rem black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-controls{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 10%;
  font-size: 2.3rem;
  filter: drop-shadow(.35rem .35rem 0.35rem black);
  
}

  .play-cont:hover{
    cursor: pointer;
    filter: drop-shadow(.25rem .25rem 0.25rem black);
    transition: .2s;
  }

  .visual-container{
    /* display: flex; */
    /* height: 75%;
    width: 50%; */
    margin-top: 3rem;
  }

    #canvas{
      width: 100%;
      height: 100%;
    }