.modal{
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  color: black;
}

.modal-content{
  background-color: rgba(255, 255, 255, 0.776);
  margin: 25% auto;
  padding: 20px;
  width: 25%;
  height: 13%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#modal-button{
  border: 1px solid black;
  padding: .3rem;
  border-radius: 1rem;
}